body {
  margin: 0;
  padding: 0;
  background-color:​#f0eadb;
}

.main__clips {
  list-style: none;
  margin-top: 10%;
  overflow-x: scroll;
  padding: 0;
  white-space: nowrap;
}

.main__clips__item {
  cursor: grab;
  overflow: hidden;
  white-space: normal;
  display: inline-block;
  width:  calc(100vw/4.9);
  height: calc(100vh/2);
  border: 5px double #8C020C;
  border-radius: 20px;
  background-color: #D6D6D6;
  margin:  calc(1em * 30 / 16);
}

@keyframes rattle {
  15% {
    transform: rotateZ(5deg);
  }
  30% {
    transform: rotateZ(3deg);
  }
  40% {
    transform: rotateZ(1px);
  }
  50% {
    transform: rotateZ(-1px);
  }
  65% {
    transform: rotateZ(-3deg);
  }
  100% {
    transform: rotateZ(-5deg);
  }
}

.main__clips__item:hover {
  animation: rattle 0.2s ease;
}

.clip-inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.clip-inner__image {
  text-align: center;
  width: 100%;
  height: 200px;
}

.clip-inner__title {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #8C020C;
  opacity: 0.8;
  margin: calc(1em * 5 / 16) calc(1em * 10 / 16);
  padding: calc(1em * 5 / 16) calc(1em * 10 / 16);
}

.clip-inner__title:hover {
  background-color: #EA7272;
  transition: 200ms ease-in-out;
}

.clip-inner__link {
  text-decoration: none;
  color: #fff;
}

.clip-inner__channel {
  background: url('http://s1.iconbird.com/ico/1212/267/w24h241355941024businessman3.png') no-repeat scroll 0 50%;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  margin: calc(1em * 5 / 16) calc(1em * 15 / 16);
  padding: calc(1em * 5 / 16) 0 calc(1em * 5 / 16) calc(1em * 60 / 16);
}

.clip-inner__date {
  background: url('http://s1.iconbird.com/ico/0912/fugue/w24h241349011746calendarmonth.png') no-repeat scroll 0 50%;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  margin: calc(1em * 5 / 16) calc(1em * 15 / 16);
  padding: calc(1em * 5 / 16) 0 calc(1em * 5 / 16) calc(1em * 60 / 16);
}

.clip-inner__view-count {
  background: url('http://s1.iconbird.com/ico/0912/fugue/w24h241349011761eye.png') no-repeat scroll 0 50%;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #000;
  margin: calc(1em * 5 / 16) calc(1em * 15 / 16);
  padding: calc(1em * 5 / 16) 0 calc(1em * 5 / 16) calc(1em * 60 / 16);
}

.clip-inner__description {
  height: calc(1em * 80 / 16);
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #000;
  margin:  calc(1em * 5 / 16) calc(1em * 10 / 16);
  padding: calc(1em * 10 / 16);
}

@media only screen and (max-width: 480px) {
  .main__clips__item {
    width:  calc(100vw/1);
    margin:  calc(1em * 30 / 16);
  }
}

@media only screen and (max-width: 800px) {
  .main__clips__item {
    width:  calc(100vw/2);
    margin:  calc(1em * 30 / 16);
  }
}

@media only screen and (max-width: 1280px) {
  .main__clips__item {
    width:  calc(100vw/3.4);
    margin:  calc(1em * 30 / 16);
  }
}
